<app-navbar></app-navbar>

<div class="titulo">
    <h1>Crear Empleado</h1>
</div>

<div class="subtitulo">
    <h3>Los campos con asteriscos ( * ) son obligatorios</h3>
</div>

<div class="formulario">
    <form class="form" (ngSubmit)="guardarEmpleado()" #empleadoForm="ngForm">
        <div class="nombre">
            <label for="nombre">Nombre Completo *</label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre completo del empleado" [(ngModel)]="empleado.nombre" required>
        </div>
        <div class="correo">
            <label for="email">Correo Electrónico *</label>
            <input type="email" id="email" name="email" placeholder="Correo electrónico" [(ngModel)]="empleado.email" required>
        </div>
        <div class="sexo">
            <label>Sexo *</label>
            <div>
                <input type="radio" id="masculino" name="sexo" value="Masculino" [(ngModel)]="empleado.sexo" required> Masculino
                <input type="radio" id="femenino" name="sexo" value="Femenino" [(ngModel)]="empleado.sexo" required> Femenino
            </div>
        </div>
        <div class="area">
            <label for="">Área *</label>
            <select id="area" name="area" [(ngModel)]="empleado.area">
                <option value="Administrativa y financiera">Administrativa y financiera</option>
                <option value="Ingeniería">Ingeniería</option>
                <option value="Desarrollo de Negocio">Desarrollo de Negocio</option>
                <option value="Proyecto">Proyecto</option>
                <option value="Servicios">Servicios</option>
                <option value="Calidad">Calidad</option>
            </select>
        </div>
        <div class="descripcion">
            <label for="descripcion">Descripción *</label>
            <textarea id="descripcion" name="descripcion" placeholder="Descripción de la experiencia del empleado" [(ngModel)]="empleado.descripcion" required></textarea><br>
        </div>
        <div class="descripcion-2">
            <label for="boletin">Deseo recibir boletín informativo</label>
            <input type="checkbox" id="boletin" name="boletin" [(ngModel)]="empleado.boletin">
        </div>
        <div class="roles">          
            <label>Roles *</label>
            <div>
                <input type="checkbox" id="desarrollador" name="roles" value="Profesional de proyectos - Desarrollador"> Profesional de proyectos - Desarrollador<br>
                <input type="checkbox" id="gerente" name="roles" value="Gerente estratégico"> Gerente estratégico<br>
                <input type="checkbox" id="auxiliar" name="roles" value="Auxiliar administrativo"> Auxiliar administrativo
            </div>
        </div>
        <div class="button">
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>

<app-footer></app-footer>
